body { padding: 0px; margin: 0px; }
p { font-size: 26px; text-align: center; }

header { background: green; padding: 15px }
header h1 { color: white; margin: 0px;text-align: center; }

footer { background: black; padding: 15px }
footer h1 { color: white; margin: 0px;text-align: center; }